.statistics {
  margin: 0 auto;
  width: 300px;
  padding: 30px;
  background-color: rgb(191, 186, 211);
}
.title {
  margin: 0 auto;
  width: 250px;
  background-color: #fff;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 600;
  font-size: 22px;
  padding: 15px 0;
}

.statList {
  width: 250px;
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0 auto;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 15px;
  color: white;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;
  border: 1px solid rgb(158, 148, 189);
}
